<h1>
  <%= link_to "home", entries_path %>: people
  <%= inline_button "add", new_person_path %>
</h1>

<ul id="people">
  <% @people.each do |person| %>
    <li>
      <%= person.name %> (<%= person.entries.count %>)
      <%= link_to "view", person %>
      <%= link_to "edit", edit_person_path(person) %>
    </li>
  <% end %>
</ul>

