<h1>
  <%= link_to "entries", entries_path %> |
  people |
  <%= link_to "types", types_path %> |
  <%= link_to "keywords", keywords_path %>
  <span class="right">
    <%= inline_button "add person", new_person_path %>
  </span>
</h1>

<ul id="people">
  <% @people.each do |person| %>
    <li>
      <%= person.name %> (<%= person.entries.count %>)
      <%= link_to "view", person %>
      <%= link_to "edit", edit_person_path(person) %>
    </li>
  <% end %>
</ul>

