<p style="color: green"><%= notice %></p>

<h1>
  <%= link_to "home", entries_path %>: people |
  <%= link_to "add", new_person_path %>
</h1>

<ul id="people">
  <% @people.each do |person| %>
    <li>
      <%= person.name %>
      <%= link_to "view", person %>
      <%= link_to "edit", edit_person_path(person) %>
    </li>
  <% end %>
</ul>

