<p style="color: green"><%= notice %></p>

<h1>People</h1>

<ul id="people">
  <% @people.each do |person| %>
    <li>
      <%= person.name %>
      <%= link_to "view", person %>
      <%= link_to "edit", edit_person_path(person) %>
    </li>
  <% end %>
</ul>

<%= link_to "New person", new_person_path %> |
<%= link_to "Home", entries_path %>
