<p style="color: green"><%= notice %></p>

<h1>
  <%= link_to "home", entries_path %>: <%= link_to "people", people_path %>: <%= @person.name %>
  <%= inline_button "edit", edit_person_path(@person) %>
  <%= inline_button "delete", @person, :delete %>
</h1>

<%= render @person %>

<h2>entries</h2>
  <% @entries.each do |e| %>
    <li><%= link_to e.name, entry_path(e) %></li>
  <% end %>
</ul>
