<div id="<%= dom_id entry %>">
  <p>
    <strong>Type:</strong>
    <%= link_to entry.type.name, type_path(entry.type) %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= entry.name %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= entry.date %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= entry.description %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= entry.location %>
  </p>

  <p>
    <strong>People:</strong>
    <p><%= people_links(entry.people) %></p>
  </p>

  <p>
    <strong>Tags:</strong>
    <p><%= tag_links(entry.tags) %></p>
  </p>

</div>
