<div id="<%= dom_id entry %>">
  <p>
    <strong>Type:</strong>
    <%= entry.type_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= entry.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= entry.description %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= entry.location %>
  </p>

  <p>
    <strong>People:</strong>
    <% entry.people.each do |p| %>
      <%= p.name %>
    <% end %>
  </p>

  <p>
    <strong>Tags:</strong>
    <% entry.tags.each do |t| %>
      <%= t.name %>
    <% end %>
  </p>

</div>
