<% content_for :head do %>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/responsive/2.5.0/js/dataTables.responsive.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.5.0/css/responsive.dataTables.min.css">
  <script>
    var opts = {
      search: { search: new URLSearchParams(window.location.search).get('q') },
      pageLength: 100,
      order: [[2, 'desc']]
    };
    $(document).ready( function() { $('#entries').DataTable(opts); } );
  </script>
  <style>
    .limit {
      overflow: scroll;
      max-height: 8em;
    }
    .tmp {
      -webkit-line-clamp: 4;
      line-clamp: 4;
      -webkit-box-orient: vertical;
      display: -webkit-box;
    }
    table {
      width: 100%;
    }
    td {
      border: solid #cccccc 1px;
      vertical-align: top;
    }
  </style>
<% end %>

<h1>
  entries <%= inline_button "add", new_entry_path %> |
  <%= link_to "people", people_path %> |
  <%= link_to "tags", tags_path %> |
  <%= link_to "types", types_path %>
</h1>

<table id="entries" class="dataTable">
  <thead>
    <tr>
      <th>type</th>
      <th>name</th>
      <th>date</th>
      <th>description</th>
      <th>location</th>
      <th>people</th>
      <th>tags</th>
    </tr>
  </thead>
  <tbody>
    <% @entries.each do |entry| %>
      <tr>
        <td><%= link_to entry.type.name, entries_path(q: entry.type.name) %></td>
        <td><%= link_to entry.name, entry %></td>
        <td><%= entry.date %></td>
        <td><div class="limit"><%= entry.description %></div></td>
        <td><%= location_search(entry.location) %></td>
        <td><%= people_search(entry.people) %></td>
        <td><%= tag_search(entry.tags) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
