<p style="color: green"><%= notice %></p>

<h1>Entries</h1>

<table id="entries">
  <tr>
    <th>type</th>
    <th>name</th>
    <th>description</th>
    <th>location</th>
    <th>people</th>
  </tr>
  <% @entries.each do |entry| %>
    <tr>
      <td><%= entry.type.name %></td>
      <td><%= entry.name %></td>
      <td><%= entry.description %></td>
      <td><%= entry.location %></td>
      <td>
        <% entry.people.each do |p| %>
          <%= p.name %>
        <% end %>
      </td>
      <td>
        <%= link_to "Show this entry", entry %>
      </td>
    </tr>
  <% end %>
</table>

<%= link_to "New entry", new_entry_path %>

<hr/>
<%= link_to "people", people_path %> |
<%= link_to "tags", tags_path %> |
<%= link_to "types", types_path %>
