<h1>
  <%= link_to "entries", entries_path %> |
  <%= link_to "people", people_path %> |
  <%= link_to "types", types_path %> |
  keywords
  <span class="right">
    <%= inline_button "util", util_path %>
  </span>
</h1>

<ul>
  <% @keywords.each do |kw| %>
    <li><%= link_to kw, entries_path(keyword: kw) %></li>
  <% end %>
</ul>
