<h1>
  <%= link_to "home", entries_path %>: <%= @entry.name %>
  <span class="right">
    <%= inline_button "edit", edit_entry_path(@entry) %>
    <%= inline_button "delete", entry_path(@entry), :delete %>
    <%= inline_button "new entry", new_entry_path %>
    <%= inline_button "csv", entry_path(format: :json) %>
    <%= inline_button "json", entry_path(format: :json) %>
  </span>
</h1>

<div id="<%= dom_id @entry %>">
  <p>
    <%= link_to @entry.type.name, type_path(@entry.type) %> |
    <%= @entry.date %>
    <% if @entry.end_date.present? %>
      - <%= @entry.end_date %>
    <% end %> |
    <%= location_search(@entry.location) %>
  </p>

  <p><%= @entry.description %></p>

  <p>
    <strong>Keywords:</strong>
    <ul>
      <% @entry.keywords_to_list.sort.each do |kw| %>
        <li><%= link_to kw, entries_path(keyword: kw) %>
            <%= inline_button("x", remove_keyword_from_entry_path(@entry.id) + "?keyword=" + kw, :post) %></li>
      <% end %>
    </ul>
  </p>

  <%= form_with(url: add_keyword_to_entry_path(@entry.id)) do |form| %>
    <div>
      <%= form.select :keyword, options_for_select(@keywords), {class: "pulldown"} %>
      <%= form.submit "add keyword" %>
    </div>
  <% end %>

  <p>
    <strong>People:</strong>
    <ul>
      <% @entry_people.each do |ep| %>
        <li><%= link_to ep.person.name, entries_path(person: ep.person.id) %>
            <%= inline_button("x", entry_person_path(ep), :delete) %></li>
      <% end %>
    </ul>
  </p>

</div>

<%= form_with(model: EntryPerson) do |form| %>
  <%= form.hidden_field :entry_id, value: @entry.id %>
  <div>
    <%= form.collection_select :person_id, Person.all.order(:name), :id, :name, {}, {class: "pulldown"} %>
    <%= form.submit "add person" %>
    <%= inline_button "new person", new_person_path %>
  </div>
<% end %>
