<h1>
  <%= link_to "home", entries_path %>: <%= @entry.name %>
  <span class="right">
    <%= inline_button "export", entry_path(format: :json) %>
    <%= inline_button "edit", edit_entry_path(@entry) %>
    <%= inline_button "delete", entry_path(@entry), :delete %>
    <%= inline_button "new entry", new_entry_path %>
  </span>
</h1>

<div id="<%= dom_id @entry %>">
  <p>
    <%= link_to @entry.type.name, type_path(@entry.type) %> |
    <%= @entry.date %>
    <% if @entry.end_date.present? %>
      - <%= @entry.end_date %>
    <% end %> |
    <%= location_search(@entry.location) %>
  </p>

  <p><%= @entry.description %></p>

  <p>
    <strong>Keywords:</strong>
    <%= keyword_search(@entry.keywords_to_list.sort) %>
  </p>


  <p>
    <strong>People:</strong>
    <ul>
      <% @entry_people.each do |ep| %>
        <li><%= link_to(ep.person.name, person_path(ep.person)) %>
            <%= inline_button("x", entry_person_path(ep), :delete) %></li>
      <% end %>
    </ul>
  </p>

</div>

<%= form_with(model: EntryPerson) do |form| %>
  <%= form.hidden_field :entry_id, value: @entry.id %>
  <div>
    <%= form.collection_select :person_id, Person.all.order(:name), :id, :name, {}, {class: "pulldown"} %>
    <%= form.submit "add person" %>
    <%= inline_button "new person", new_person_path %>
  </div>
<% end %>
