<p style="color: green"><%= notice %></p>

<h1>
  <%= link_to "home", entries_path %>: types
  <%= inline_button "add", new_type_path %>
</h1>

<ul id="types">
  <% @types.each do |type| %>
    <li>
      <%= type.name %> (<%= type.entries.count %>)
      <%= link_to "view", type %>
      <%= link_to "edit", edit_type_path(type) %>
    </li>
  <% end %>
</ul>
