<h1>
  <%= link_to "entries", entries_path %> |
  <%= link_to "people", people_path %> |
  types |
  <%= link_to "keywords", keywords_path %>
  <span class="right">
    <%= inline_button "add type", new_type_path %>
    <%= inline_button "util", util_path %>
  </span>
</h1>

<ul id="types">
  <% @types.each do |type| %>
    <li>
      <%= type.name %> (<%= type.entries.count %>)
      <%= link_to "view", type %>
      <%= link_to "edit", edit_type_path(type) %>
    </li>
  <% end %>
</ul>
