<h1>
  <%= link_to "home", entries_path %>: <%= link_to "types", types_path %>: <%= @type.name %>
  <%= inline_button "edit", edit_type_path(@type) %>
  <%= inline_button "delete", @type, :delete %>
</h1>

<%= render @type %>

<h2>entries</h2>
<ul>
  <% @entries.each do |e| %>
    <li><%= link_to e.name, entry_path(e) %></li>
  <% end %>
</ul>
