<p style="color: green"><%= notice %></p>

<h1>
  <%= link_to "home", entries_path %>: tags |
  <%= link_to "add", new_tag_path %>
</h1>

<ul id="tags">
  <% @tags.each do |tag| %>
    <li>
      <%= tag.name %>
      <%= link_to "view", tag %>
      <%= link_to "edit", edit_tag_path(tag) %>
    </li>
  <% end %>
</ul>
