<h1>
  <%= link_to "home", entries_path %>: <%= link_to "tags", tags_path %>: <%= @tag.name %>
  <%= inline_button "edit", edit_tag_path(@tag) %>
  <%= inline_button "delete", @tag, :delete %>
</h1>

<%= render @tag %>

<h2>entries</h2>
<ul>
  <% @entries.each do |e| %>
    <li><%= link_to e.name, entry_path(e) %></li>
  <% end %>
</ul>
